server {
  listen 80;
  server_name cdn.wakedt.cn www.wakedt.cn;
  error_log /var/log/nginx/error_ssl.log error;
  access_log /var/log/nginx/access_ssl.log main;

  root /data/node/node-server;
  add_header Access-Control-Allow-Origin "*";

  # dsp 短链跳转映射
  location ^~ /s/ {
    rewrite ^/(.*) /scheme.html last;
  }

  # 根路径处理
  location = / {
    rewrite ^/(.*) /wkb.html redirect;
  }

  # html 禁止缓存
  location ~* \.html$ {
    expires -1;
    try_files /__public__/$uri $uri =404;
  }

  location / {
    expires max;
    try_files /__public__/$uri $uri @fallback;
  }

  # html fallback
  location @fallback {
    expires -1;
    try_files /__public__/$uri/index.html $uri/index.html /__public__/$uri.html $uri.html =404;
  }


  # ... 其他配置放这里
}

